<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699639764084-g00358f2ork35o0abdp9883vlv8jj7ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699639764084-g00358f2ork35o0abdp9883vlv8jj7ja</string>
	<key>API_KEY</key>
	<string>AIzaSyD19SvuKLon0oEhGCK2ttDqUG8m57GIUUc</string>
	<key>GCM_SENDER_ID</key>
	<string>699639764084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeg.Siladas</string>
	<key>PROJECT_ID</key>
	<string>siladas-bcd81</string>
	<key>STORAGE_BUCKET</key>
	<string>siladas-bcd81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699639764084:ios:915d36fc9e71183db7ad21</string>
	<key>DATABASE_URL</key>
	<string>https://siladas-bcd81.firebaseio.com</string>
</dict>
</plist>